button {
	font-family: monospace;
	font-weight: bold;
}

h1 {
	background: yellow; /* weird stripe */
	font-family: cursive;
	font-style: italic;
}

header {
	line-height: 10px;
	margin: 10px;
	margin-bottom: 15px;
	position: relative; /* to occlude cards */
	z-index: 10;
}

label {
	font-family: sans-serif;
	font-weight: bold;
}

.cardAuthor {
	float: left;
	font-family: cursive;
	font-style: italic;
	padding: 2px;
}

.cardContainer {
	background: aliceblue;
	border-color: yellow;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	z-index: 9;
}

.cardContent {

}

.cardDate {
	float: right;
	font-family: sans-serif;
	font-style: italic;
	padding: 2px;
}

/* hyperlink text used for ascii graphics close marker. */
.cardDate a {
	font-style: normal;
	font-weight: bold;
}

.cardHeader {
	background: palegreen;
	cursor: move;
	overflow: auto;
	z-index: 10;
}

.navbarItem {
	background: yellow;
	display: inline-block;
	font-family: cursive;
	font-style: italic;
	margin: 10px;
	padding: 6px;
	vertical-align: top;
}

.navbarItem li {
  line-height: 1.0;
  list-style-position: outside;
	list-style-type: none;
}

.navbarItem ul {
  padding-left: 1.2em;
}

.navbarUserName {
	display: inline-block;
	font-family: cursive;
	font-style: italic;
	margin: 10px;
	padding: 5px;
	vertical-align: top;
}

.navbarItem:hover {
	background: palegreen;
}
